---
version: "3"
services:
  mailgun-services:
    network_mode: default
    container_name: mailgun-services
    build: .
    volumes:
      - ./:/opt/app
    ports:
      - <YOUR_DESIRED_PORT>:50708
    restart: unless-stopped
